# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages

# Backend
backend/node_modules/
backend/.env

# General
.idea/
.vscode/
*.log